* {
  box-sizing: border-box;
}

html {
  background-color: skyblue;
}

body {
 font-family: sans-serif;
  background-color: #ffffff;
  width: calc(100vw - 2cm);
  min-height: calc(100vh - 100px);
  margin: 40px auto;
  padding: 40px 60px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

img {
  width: 300px;
  max-width: 100%; 
  display: block;
  margin: 0 auto 20px; 
}

hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #000;
}

main {
  display: flex;
  justify-content: space-between;
  gap: 40%;
  width: 100%;
}

section {
  width: 48%;
  flex: 1;
}
